.desktop5Child,
.desktop5Item {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #141e3f;
    width: 100%;
    height: 22rem;
}

.desktop5Item {
    top: 3.5%;
    left: 16%;
    border-radius: 50%;
    background-color: #f7d1f7;
    width: 15rem;
    height: 15rem;
}

.maskGroupIcon {
    position: absolute;
    top: 114px;
    left: 259px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.sanyaGupta {
    position: absolute;
    top: 86px;
    left: 542px;
}

.bio {
    margin: 0;
    font-weight: 100;
}

.bioLoremIpsumContainer {
    position: absolute;
    top: 174px;
    left: 542px;
    font-size: 20px;
    text-align: left;
    display: inline-block;
    width: 533px;
    height: 118px;
}

.desktop5Inner {
    position: absolute;
    top: 86px;
    left: 1095px;
    background-color: #413864;
    width: 223px;
    height: 66px;
}

.desktop5Child1,
.desktop5Child2,
.lastRectangle,
.rectangleDiv {
    position: absolute;
    top: 561px;
    left: 44px;
    background-color: #413864;
    width: 300px;
    height: 96px;
}

.desktop5Child1,
.desktop5Child2,
.lastRectangle {
    top: 740px;
    /* Adjusted position */
    width: 430px;
}

.desktop5Child2,
.lastRectangle {
    top: 980px;
    /* Adjusted position */
    left: 38px;
    width: 550px;
}

.lastRectangle {
    top: 1400px;
    /* Adjusted position */
    left: 0;
    background-color: #141e3f;
    width: 1440px;
    height: 278px;
}


.skills {
    position: absolute;
    top: 470px;
    left: 73px;
    display: inline-block;
    width: 80%;
    height: 66px;
    font-size: 1.6rem;
}

.skillsContent {
    position: absolute;
    top: 470px;
    left: 73px;
    display: inline-block;
    width: 65%;
    height: 66px;
    font-size: 1rem;
}

.myProjects {
    position: absolute;
    top: 670px;
    left: 69px;
    font-size: 1.5rem;
}

.loremIpsumIs2,
.projectsJoined {
    position: absolute;
    top: 820px;
    /* Adjusted position */
    left: 69px;
}

.loremIpsumIs2 {
    top: 740px;
    /* Adjusted position */
    left: 44px;
    font-size: 20px;
    font-weight: 400;
    color: #020202;
    text-align: left;
    display: flex;
    align-items: center;
    width: 953px;
}

.frameChild {
    position: relative;
    border-radius: 21px;
    background-color: #121421;
    width: 300px;
    height: 300px;
    margin-right: 120px;
}

.rectangleGroup,
.rectangleParent {
    position: absolute;
    top: 900px;
    /* Adjusted position */
    left: calc(50% - 676px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 31px;
}

.rectangleGroup {
    top: 1340px;
    /* Adjusted position */
}

.frameChild4 {
    position: relative;
    border-radius: 21px;
    background-color: #141e3f;
    width: 300px;
    height: 100px;
    margin-right: 120px;
}

.projectDomain {
    position: relative;
    font-size: 26px;
    align-items: center;
    display: inline-block;
    width: 300px;
    height: 71px;
    color: #665b6b;
}

.projectDomainGroup,
.projectDomainParent,
.projectTitleGroup,
.projectTitleParent {
    position: absolute;
    top: 930px;
    /* Adjusted position */
    left: calc(50% - 661px);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 150px;
    font-size: 26px;
    font-family: Nunito;
}

.projectDomainGroup,
.projectTitleGroup,
.projectTitleParent {
    top: 1370px;
    /* Adjusted position */
}

.projectTitleGroup,
.projectTitleParent {
    top: 1050px;
    /* Adjusted position */
    left: calc(50% - 600px);
    align-items: flex-start;
    gap: 137px;
}

.projectTitleGroup {
    top: 1500px;
    gap: 140px;
    /* Adjusted position */
}

.projectContent {
    position: absolute;
    top: 670px;
    left: 73px;
    display: inline-block;
    width: 65%;
    height: 66px;
    font-size: 1rem;
}

.frameChild10 {
    position: relative;
    border-radius: 15px;
    background-color: #967ed2;
    width: 209px;
    height: 62px;
}

.rectangleParent1,
.rectangleParent2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 252px;
}

.rectangleParent1 {
    top: 1160px;
    /* Adjusted position */
    left: 135px;
}

.rectangleParent2 {
    top: 1650px;
    /* Adjusted position */
    left: calc(50% - 646px);
}

.readMore {
    position: relative;
    font-weight: 400;
    display: inline-block;
    width: 162px;
    height: 37px;
    flex-shrink: 0;
}

.readMoreGroup,
.readMoreParent {
    position: absolute;
    top: 1160px;
    /* Adjusted position */
    left: calc(50% - 600px);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 284px;
    font-size: 24px;
    color: #1c1c1c;
    font-family: Nunito;
}

.readMoreGroup {
    top: 1650px;
    /* Adjusted position */
}

.maskGroupIcon1 {
    position: absolute;
    top: 2337px;
    /* Adjusted position */
    left: 601px;
    width: 224px;
    height: 60px;
    object-fit: cover;
}

.maskGroupChild {
    position: absolute;
    top: -33px;
    left: -22px;
    background-color: #fff;
    width: 437px;
    height: 113px;
}

.maskGroup {
    position: absolute;
    top: 365px;
    /* Adjusted position */
    left: 970px;
    width: 392px;
    height: 80px;
}

.exploreMore,
.exploreMore1 {
    position: absolute;
    top: 1237px;
    /* Adjusted position */
    left: calc(50% - 470px);
    font-size: 36px;
    font-weight: 500;
    font-family: Nunito;
    color: #000;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    height: 78px;
}



.desktop5 {
    position: relative;
    background-color: #f6d0f6;
    width: 100%;
    height: 2400px;
    /* Adjusted height */
    overflow: hidden;
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-family: Montserrat;
}